<a href="https://colab.research.google.com/github/Nunticha24/data_viz_2022/blob/main/EDM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/EDM'

Mounted at /content/drive

In [5]:
data_file_path = os.path.join(path,'EDM.xlsx')   
data = pd.read_excel(data_file_path)

In [6]:
data

      year      quarter  ...    unit                 source
0     2558  ไตรมาสที่ 1  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
1     2558  ไตรมาสที่ 3  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
2     2559  ไตรมาสที่ 2  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
3     2559  ไตรมาสที่ 4  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
4     2560  ไตรมาสที่ 3  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
...    ...          ...  ...     ...                    ...
7917  2563  ไตรมาสที่ 2  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
7918  2563  ไตรมาสที่ 2  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
7919  2563  ไตรมาสที่ 2  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
7920  2563  ไตรมาสที่ 2  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ
7921  2563  ไตรมาสที่ 2  ...  ร้อยละ  สำนักงานสถิติแห่งชาติ

[7922 rows x 8 columns]

In [7]:
data.shape

(7922, 8)

#ตรวจสอบ Missing

In [8]:
data.isnull().any()

year        False
quarter     False
region      False
area        False
industry    False
value       False
unit        False
source      False
dtype: bool